<div class="wrapper">
  <svg
    width="36"
    height="54"
    viewBox="0 0 36 54"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      opacity="0.7"
      d="M35.4107 46.7617H0.898438V53.9368H35.4107V46.7617Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M24.4321 5.64803C23.4276 2.7421 22.3154 0.410156 18.405 0.410156C14.5304 0.410156 13.3466 2.70622 12.3061 5.64803L1.61523 36.0345H8.68271L11.1581 28.8236H24.7909L27.0869 36.0345H34.6208L24.4321 5.64803ZM13.239 22.6888L18.0821 8.30275H18.2615L22.8178 22.6888H13.239Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
  </svg>

  <svg
    width="38"
    height="68"
    viewBox="0 0 38 68"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      opacity="0.7"
      d="M32.7696 30.9054V41.7197C29.8202 44.7783 25.7785 46.7445 21.1906 46.7445C12.4518 46.7445 5.35156 39.6442 5.35156 30.9054C5.35156 22.1667 12.4518 15.0664 21.1906 15.0664V15.5033V26.973C18.8967 26.973 16.6027 27.8468 14.8551 29.5946C14.4181 30.0316 14.0903 30.4685 13.7627 30.9054C11.5779 34.2917 11.9057 39.098 14.9642 42.1566C16.712 43.9044 19.006 44.7783 21.2999 44.7783C23.5938 44.7783 25.7785 43.9044 27.5262 42.1566C29.274 40.4088 29.274 37.5688 27.5262 35.821C25.7785 34.0732 22.9384 34.0732 21.1906 35.821V30.9054H26.9801H28.6186H32.7696Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M30.6935 9.16923C31.6766 13.4294 31.6766 16.051 31.2396 19.0003C30.475 24.3528 28.0719 28.5037 26.9795 29.8146C26.2148 28.8315 25.1225 26.9745 24.3579 25.2267C24.3579 25.2267 22.9378 21.8404 22.6101 18.5634C22.5009 17.4711 22.3916 16.4879 22.3916 15.3956C22.3916 13.1016 22.7194 10.6985 23.484 8.18608C24.4671 4.79979 26.4334 1.74128 26.9795 0.976562C27.3072 1.52276 29.7104 4.90905 30.6935 9.16923ZM30.475 16.3787C30.475 14.7401 30.3657 12.0093 29.6011 9.16923C28.8365 6.32914 27.3072 3.59822 27.0887 3.16128C26.8703 3.48896 25.6687 5.78294 24.5763 9.16923C24.2486 10.1523 23.8117 12.4463 23.7024 14.631C23.5933 17.2525 23.9209 19.9835 24.1394 20.6388C24.1394 19.7649 24.1394 16.8156 24.6856 14.4125C25.2318 12.0093 26.3241 9.16923 27.0887 7.74914C27.9626 9.27849 29.1642 12.5555 29.6011 14.4125C30.0381 16.3787 30.2566 18.8911 30.1473 20.6388C30.2566 19.7649 30.3657 18.0173 30.475 16.3787ZM26.9795 28.8315C27.5257 27.9576 28.2903 25.8822 28.2903 23.3698C28.1811 20.7481 27.3072 18.8911 26.9795 18.4541C26.6518 18.8911 25.6687 21.0758 25.6687 23.6974C25.7779 26.2098 26.5425 27.9576 26.9795 28.8315Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M37.2561 51.2324V60.2679H35.5113V54.5974H35.449L34.5142 60.2679H33.1434L32.2709 54.5974H32.2086V60.2679H30.4639V51.2324H32.7072L33.8288 57.5884L34.9505 51.2324H37.2561Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M29.2799 52.8526V58.6477C29.2799 59.2709 29.2175 60.2679 27.9712 60.2679H26.5381C25.2918 60.2679 25.2295 59.2709 25.2295 58.6477V52.8526C25.2295 52.2295 25.2918 51.2324 26.5381 51.2324H27.9712C29.2175 51.2324 29.2799 52.2295 29.2799 52.8526ZM27.535 58.7723V52.6033C27.535 52.4787 27.4104 52.2918 27.2858 52.2918C27.1612 52.2918 27.0366 52.3541 27.0366 52.6033V58.7723C27.0366 59.0216 27.2235 59.084 27.2858 59.084C27.4104 59.084 27.535 58.9593 27.535 58.7723Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M24.108 52.8526V55.5944C24.108 56.2175 24.0457 57.2145 22.7994 57.2145H21.8024V60.2679H20.0576V51.2324H22.7994C24.0457 51.2324 24.108 52.2295 24.108 52.8526ZM22.3632 55.719V52.7903C22.3632 52.4787 22.2386 52.3541 22.0517 52.3541H21.8024V56.2175H22.0517C22.2386 56.2175 22.3632 56.0305 22.3632 55.719Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M18.9361 51.2324V60.2679H17.1913V52.3541H16.6305V60.2679H14.8857V51.2324H18.9361Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M13.7642 56.8405V58.6475C13.7642 59.2707 13.7019 60.2677 12.4556 60.2677H11.0224C9.77617 60.2677 9.71387 59.2707 9.71387 58.6475V57.0897H11.4586V58.7722C11.4586 59.0215 11.6456 59.0838 11.7079 59.0838C11.8948 59.0838 11.9572 58.9591 11.9572 58.7722V56.6535C11.9572 56.4043 11.8948 56.0926 11.2716 56.0926H10.5862V55.0957H11.3339C11.8325 55.0957 12.0195 54.9711 12.0195 54.4103V52.6031C12.0195 52.4785 11.8948 52.2916 11.7702 52.2916C11.6456 52.2916 11.5209 52.3539 11.5209 52.6031V54.0987H9.77617V52.7901C9.77617 52.167 9.83847 51.1699 11.0847 51.1699H12.518C13.7642 51.1699 13.8265 52.167 13.8265 52.7901V54.2856C13.8265 55.2826 13.1411 55.5319 12.6426 55.5319V55.5942C13.7019 55.5942 13.7642 56.5289 13.7642 56.8405Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M8.03124 51.2324L8.96589 60.2679H7.28342L7.09651 57.8376H6.28647L6.09947 60.2679H4.41699L5.28943 51.2324H8.03124ZM7.0342 56.8407L6.72259 52.3541H6.59799L6.28647 56.8407H7.0342Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M4.35518 51.2324V52.3541H2.73501V60.2679H0.990234V51.2324H4.35518Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M19.996 65.5657V66.812C19.996 67.0612 19.9337 67.1236 19.7468 67.1236H19.6221V65.3164H19.7468C19.9337 65.3164 19.996 65.3788 19.996 65.5657Z"
      fill="white"></path>
    <path
      opacity="0.7"
      d="M18.6874 65.3162V67.1233H18.5628C18.3758 67.1233 18.3135 67.061 18.3135 66.8117V65.5654C18.3135 65.3162 18.3758 65.2539 18.5628 65.2539H18.6874V65.3162Z"
      fill="white"></path>
  </svg>

  <svg
    width="36"
    height="53"
    viewBox="0 0 36 53"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      opacity="0.7"
      fillRule="evenodd"
      clipRule="evenodd"
      d="M35.075 52.2294H26.0032V7.56008H21.9595C14.5404 7.56008 10.6725 11.2358 10.6725 16.767C10.6725 22.9983 13.3448 25.9039 18.9004 29.6147L23.4715 32.6954L10.3561 52.2995H0.581055L12.3955 34.7958C5.60923 29.9297 1.77653 25.2038 1.77653 17.2571C1.77653 7.315 8.73861 0.558594 21.9244 0.558594H35.0398V52.2294H35.075Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
  </svg>

  <svg
    width="51"
    height="51"
    viewBox="0 0 51 51"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g opacity="0.7">
      <mask
        id="mask0_69_2023"
        style={{ maskType: 'luminance' }}
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="51"
        height="51"
      >
        <path
          d="M50.6766 0.316406H0.724609V50.2684H50.6766V0.316406Z"
          fill="white"></path>
      </mask>
      <g mask="url(#mask0_69_2023)">
        <path
          d="M62.4837 -18.7559H-10.1737C-14.6881 -18.7559 -18.3477 -15.0963 -18.3477 -10.5819V62.0755C-18.3477 66.5898 -14.6881 70.2494 -10.1737 70.2494H62.4837C66.998 70.2494 70.6576 66.5898 70.6576 62.0755V-10.5819C70.6576 -15.0963 66.998 -18.7559 62.4837 -18.7559Z"
          stroke="white"
          strokeWidth="1.83478"
          strokeDasharray="9.17 9.17"></path>
        <path
          fillRule="evenodd"
          clipRule="evenodd"
          d="M6.63562 0.316406H44.7656C46.2642 0.316406 47.8183 0.704942 48.9283 1.78717C50.1771 2.89729 50.7043 4.59011 50.6766 6.19966V17.7163C50.2881 16.523 50.0938 15.2742 49.5943 14.1365C48.9005 12.8877 46.7915 13.6092 46.9579 14.9967C47.3465 16.6341 47.7627 18.2991 48.3178 19.9087C45.9034 18.8541 43.4891 17.7996 41.1025 16.7451C40.3255 16.412 39.5484 15.9403 38.6882 15.9958C39.2432 18.8541 40.1867 21.6293 40.8527 24.4876C41.1025 25.2924 41.158 26.3192 41.9072 26.8742C42.7675 27.6235 44.2939 26.68 44.0719 25.5699C43.7943 23.9048 43.267 22.3231 42.8231 20.6857C45.4317 21.8512 48.0681 22.9613 50.6766 24.1546V39.1679C46.4862 34.589 42.2125 30.0656 37.9944 25.5144C38.3551 24.4598 38.5216 23.3221 38.1609 22.2398C37.5781 20.1307 35.469 18.8541 33.4709 18.4101C30.1685 17.7163 26.5609 18.6876 24.0633 20.9355C22.759 22.1288 21.649 23.766 21.7877 25.5976C21.649 27.2905 22.759 28.8168 24.1188 29.6771C23.3695 36.5316 22.6203 43.4139 21.871 50.2684H6.63562C5.05378 50.2684 3.44424 49.8243 2.33422 48.6588C1.1687 47.5488 0.724674 45.9392 0.724674 44.3574V37.3918C1.94568 37.8082 3.27776 38.2521 4.58206 37.8914C7.05186 37.4751 9.13322 35.2828 9.38298 32.7852C9.79922 30.2321 8.38394 27.5124 6.08061 26.3469C4.41558 25.4312 2.4175 25.4867 0.724674 26.2636V6.22736C0.696882 4.59012 1.22419 2.89729 2.47299 1.78717C3.58301 0.704942 5.13707 0.316406 6.63562 0.316406ZM10.7706 23.6273C10.1323 23.8216 9.8825 24.4598 9.66053 25.0148C9.8548 25.8752 10.6041 26.7632 11.5753 26.4579C12.8519 26.0972 14.1007 25.7919 15.3772 25.4034C14.1007 28.456 12.9074 31.5086 11.6863 34.589C11.5198 34.922 11.5198 35.6158 12.0471 35.4493C15.2107 34.6168 18.4021 33.7842 21.5379 32.8962C22.4538 32.6187 22.537 31.4531 22.204 30.7038C21.8155 30.1488 21.094 29.9545 20.4279 30.1488C18.9848 30.5928 17.5141 30.9259 16.0432 31.3421C16.9868 29.011 17.9303 26.68 18.8462 24.3488C19.2069 23.3776 19.7064 22.4617 19.8729 21.435C19.4012 21.435 18.9293 21.435 18.4853 21.546C15.9322 22.2675 13.3514 22.9336 10.7706 23.6273ZM2.27872 28.8168C1.64043 29.0666 1.14091 29.5383 0.724674 30.0933V33.5345C1.55715 34.7278 3.16678 35.477 4.55426 34.8665C6.1916 34.3115 7.05186 32.2302 6.33037 30.6761C5.80306 29.1221 3.83278 28.123 2.27872 28.8168Z"
          fill="#0F1C2C"
          fillOpacity="0.5"></path>
        <path
          fillRule="evenodd"
          clipRule="evenodd"
          d="M46.9584 15.0253C46.8196 13.6377 48.9009 12.9162 49.5947 14.165C50.0942 15.3028 50.2885 16.5516 50.677 17.7449V24.1832C48.0684 22.9899 45.4321 21.8797 42.8235 20.7142C43.2675 22.3238 43.7947 23.9334 44.0723 25.5984C44.2942 26.7085 42.768 27.652 41.9076 26.9027C41.1584 26.3477 41.1029 25.3487 40.8531 24.5161C40.1593 21.6856 39.2436 18.9104 38.6885 16.0243C39.5766 15.9688 40.3259 16.4406 41.1029 16.7736C43.5173 17.8281 45.9038 18.8826 48.3182 19.9373C47.7632 18.3276 47.3469 16.6626 46.9584 15.0253ZM24.0637 20.9085C26.5891 18.6607 30.1689 17.6894 33.4714 18.3831C35.4972 18.8549 37.6062 20.1037 38.1612 22.2128C38.5221 23.2951 38.3278 24.4329 37.9948 25.4875C37.2178 27.2358 35.7747 28.5956 34.1096 29.5113C31.0848 31.1209 27.1718 31.4817 24.147 29.6501C22.7872 28.762 21.6771 27.2635 21.8159 25.5707C21.6494 23.7391 22.7594 22.1018 24.0637 20.9085ZM24.5077 25.5707C24.7298 26.2367 25.0627 26.9027 25.7288 27.2358C27.8101 28.4013 30.4187 28.0683 32.5 27.0692C33.8598 26.4032 35.2197 25.2932 35.4972 23.7391C35.6359 22.9344 35.0809 22.2406 34.4148 21.852C33.0828 20.9918 31.39 21.1028 29.8915 21.2415C27.5603 21.6856 25.0627 23.1008 24.5077 25.5707ZM10.7709 23.6281C10.1326 23.8223 9.88288 24.4606 9.66092 25.0156C9.85518 25.8759 10.6045 26.764 11.5757 26.4587C12.8523 26.098 14.1011 25.7927 15.3776 25.4042C14.1011 28.4568 12.9078 31.5094 11.6867 34.5898C11.5202 34.9228 11.5202 35.6165 12.0475 35.4501C15.2111 34.6175 18.4025 33.785 21.5384 32.897C22.4542 32.6194 22.5374 31.4539 22.2044 30.7046C21.8159 30.1496 21.0944 29.9553 20.4283 30.1496C18.9853 30.5936 17.5145 30.9267 16.0437 31.3429C16.9872 29.0118 17.9307 26.6808 18.8465 24.3496C19.2073 23.3783 19.7068 22.4626 19.8733 21.4358C19.4015 21.4358 18.9297 21.4358 18.4858 21.5468C15.9326 22.2683 13.3518 22.9344 10.7709 23.6281ZM0.725057 26.2644C2.41788 25.4875 4.41596 25.432 6.0533 26.3477C8.38433 27.5132 9.7719 30.2051 9.35567 32.786C9.10591 35.2836 7.05233 37.5036 4.55474 37.8922C3.25036 38.2529 1.94606 37.8089 0.697266 37.3926V33.563C1.52983 34.7563 3.13937 35.5056 4.52695 34.8951C6.16428 34.34 7.02454 32.2587 6.30306 30.7046C5.74804 29.1506 3.80546 28.1515 2.25132 28.8453C1.61311 29.0951 1.11359 29.5668 0.697266 30.1218V26.2644H0.725057Z"
          fill="white"></path>
        <path
          fillRule="evenodd"
          clipRule="evenodd"
          d="M24.507 25.5707C25.062 23.1009 27.5596 21.6855 29.8908 21.2416C31.417 21.1028 33.0821 20.9918 34.4141 21.8521C35.0524 22.2406 35.6352 22.9343 35.4965 23.7392C35.1912 25.2932 33.8314 26.4032 32.4993 27.0692C30.418 28.0683 27.8094 28.4013 25.728 27.2358C25.062 26.9028 24.729 26.2368 24.507 25.5707ZM34.1089 29.5391C31.0841 31.1487 27.1711 31.5094 24.1463 29.6778C23.397 36.5324 22.6477 43.4147 21.8984 50.2692H44.5156C46.0973 50.2969 47.7902 49.9361 48.9557 48.7706C50.2878 47.605 50.7596 45.8012 50.704 44.0807V39.1688C46.5137 34.5898 42.24 30.0664 38.0218 25.5152C37.217 27.2358 35.774 28.6233 34.1089 29.5391Z"
          fill="#BFBFBF"></path>
      </g>
    </g>
  </svg>

  <svg
    width="52"
    height="52"
    viewBox="0 0 52 52"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      opacity="0.7"
      d="M0.857422 24.7349C0.857422 13.2828 0.857423 7.55684 4.42327 3.99908C7.98911 0.441406 13.7281 0.441406 25.2065 0.441406H27.2356C38.7138 0.441406 44.4529 0.441406 48.0188 3.99908C51.5846 7.55684 51.5846 13.2828 51.5846 24.7349V26.7594C51.5846 38.2114 51.5846 43.9374 48.0188 47.4952C44.4529 51.0528 38.7138 51.0528 27.2356 51.0528H25.2065C13.7281 51.0528 7.98911 51.0528 4.42327 47.4952C0.857423 43.9374 0.857422 38.2114 0.857422 26.7594V24.7349Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      d="M27.8487 36.903C16.2872 36.903 9.6927 28.9949 9.41797 15.8359H15.2093C15.3995 25.4943 19.6689 29.5853 23.0508 30.4289V15.8359H28.5042V24.1657C31.8437 23.8073 35.3519 20.0114 36.5355 15.8359H41.9888C41.08 20.9814 37.2754 24.7773 34.57 26.3378C37.2754 27.6031 41.6086 30.9139 43.2572 36.903H37.2543C35.965 32.8962 32.7526 29.7962 28.5042 29.3745V36.903H27.8487Z"
      fill="white"></path>
  </svg>

  <svg
    width="34"
    height="55"
    viewBox="0 0 34 55"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      opacity="0.7"
      d="M26.822 54.5222H4.59102C2.9891 54.5222 2.04102 53.0959 2.04102 51.8534C2.04102 51.1187 2.34609 50.4488 2.82562 49.9734L12.5244 40.3574L26.822 54.5222Z"
      fill="#D0D1D2"></path>
    <path
      opacity="0.7"
      d="M4.59135 54.5226C2.91315 54.5226 0.809898 53.1936 0.809898 50.5465V20.9097C0.809898 16.9012 0.602823 14.0921 3.49068 11.2289L14.3119 0.5L33.5025 19.5591L2.82596 49.9739C2.33552 50.46 2.04135 51.1191 2.04135 51.8538C2.04135 53.0963 2.98934 54.5226 4.59135 54.5226Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
  </svg>

  <svg
    width="46"
    height="45"
    viewBox="0 0 46 45"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g opacity="0.7">
      <mask
        id="mask0_69_2038"
        style={{ maskType: 'luminance' }}
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="46"
        height="45"
      >
        <path
          d="M45.8601 0.0429688H0.449219V44.5456H45.8601V0.0429688Z"
          fill="white"></path>
      </mask>
      <g mask="url(#mask0_69_2038)">
        <path
          d="M59.4837 -21.7539H-13.1737C-17.6881 -21.7539 -21.3477 -18.0943 -21.3477 -13.58V59.0774C-21.3477 63.5918 -17.6881 67.2514 -13.1737 67.2514H59.4837C63.998 67.2514 67.6576 63.5918 67.6576 59.0774V-13.58C67.6576 -18.0943 63.998 -21.7539 59.4837 -21.7539Z"
          stroke="white"
          strokeWidth="1.83478"
          strokeDasharray="9.17 9.17"></path>
        <path
          d="M0.449219 0.0429688V44.5456L45.8601 0.135516H27.2651L13.9043 13.3444L13.81 0.135516L0.449219 0.0429688Z"
          fill="#0F1C2C"
          fillOpacity="0.5"></path>
        <path
          d="M29.6552 19.4863L20.1611 28.714L31.1327 39.3922L26.4328 44.1758L45.5938 44.3609V25.6432L40.7053 30.2571L29.6552 19.4863Z"
          fill="#0F1C2C"
          fillOpacity="0.5"
          stroke="#0F1C2C"
          strokeOpacity="0.5"
          strokeWidth="0.917391"></path>
      </g>
    </g>
  </svg>

  <svg
    width="70"
    height="56"
    viewBox="0 0 70 56"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      opacity="0.7"
      d="M54.1289 4.62109L27.7139 24.4995L30.5792 27.3649L35.7727 32.4688L54.1289 14.2917V4.62109Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      fillRule="evenodd"
      clipRule="evenodd"
      d="M35.7735 8.29325L43.8323 0.234375L54.1298 4.62198L38.8179 16.173L27.7146 24.5004L27.7141 24.4999L27.7139 24.5001L23.5949 20.3811L22.5204 19.3067L16.7002 13.4864V4.62167L31.6415 12.425L31.6545 12.4121L35.7735 8.29325Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M35.7727 8.29325L27.7139 0.234375L16.7002 4.62198L31.6538 12.4121L35.7727 8.29325Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M27.1711 43.0126C26.7584 42.5997 26.2276 42.246 25.6379 42.01C25.0482 41.7742 24.3996 41.6562 23.6919 41.6562C22.9843 41.6562 22.3356 41.7742 21.7459 42.01C21.1563 42.246 20.6845 42.5997 20.2127 43.0126C19.741 43.4253 19.4462 43.9561 19.2102 44.5457C18.9744 45.1354 18.8564 45.7841 18.8564 46.4917C18.8564 47.1994 18.9744 47.8481 19.2102 48.4377C19.4462 49.0274 19.7999 49.5582 20.2127 49.9709C20.6255 50.3838 21.1563 50.7375 21.7459 50.9734C22.3356 51.2093 22.9843 51.3272 23.6919 51.3272C24.3996 51.3272 25.0482 51.2093 25.6379 50.9734C26.2276 50.7375 26.6993 50.3838 27.1711 49.9709C27.5839 49.5582 27.9377 49.0274 28.1736 48.4377C28.4095 47.8481 28.5274 47.1994 28.5274 46.4917C28.5274 45.7841 28.4095 45.1354 28.1736 44.5457C27.9377 43.9561 27.5839 43.4843 27.1711 43.0126ZM25.9328 47.5532C25.8148 47.8481 25.6379 48.1429 25.402 48.3787C25.1662 48.6146 24.9303 48.7916 24.6354 48.9095C24.3406 49.0274 24.0457 49.0864 23.7509 49.0864C23.456 49.0864 23.1612 49.0274 22.8664 48.9095C22.5715 48.7916 22.3356 48.6146 22.0998 48.3787C21.8639 48.1429 21.6869 47.907 21.569 47.5532C21.4511 47.1994 21.3921 46.8455 21.3921 46.4917C21.3921 46.0789 21.4511 45.7251 21.569 45.4303C21.6869 45.1354 21.8639 44.8406 22.0998 44.6048C22.3356 44.3688 22.5715 44.1919 22.8664 44.074C23.1612 43.9561 23.456 43.8971 23.7509 43.8971C24.0457 43.8971 24.3406 43.9561 24.6354 44.074C24.9303 44.1919 25.1662 44.3688 25.402 44.6048C25.6379 44.8406 25.8148 45.0765 25.9328 45.4303C26.0507 45.7841 26.1097 46.1379 26.1097 46.4917C26.1097 46.9045 26.0507 47.2584 25.9328 47.5532Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M11.78 43.0731C11.5441 42.7193 11.1903 42.3655 10.7775 42.1295C10.3057 41.8347 9.71612 41.7168 9.06744 41.7168C8.47772 41.7168 7.94696 41.8347 7.41629 42.0706C6.88554 42.3065 6.41384 42.6603 6.05997 43.0731C5.64723 43.4859 5.35232 44.0166 5.11647 44.6062C4.88062 45.196 4.7627 45.8447 4.7627 46.5523C4.7627 47.2599 4.88062 47.9086 5.11647 48.4983C5.35232 49.088 5.64723 49.6187 6.05997 50.0315C6.4728 50.4443 6.9445 50.7981 7.41629 51.0339C7.94696 51.2699 8.47772 51.3878 9.06744 51.3878C9.77508 51.3878 10.3057 51.2699 10.7775 50.975C11.2493 50.6802 11.6031 50.3853 11.78 50.0315V51.3288V55.1028H14.1977V42.1295H11.78V43.0731ZM11.721 47.5548C11.6031 47.8496 11.4262 48.1445 11.1903 48.3803C10.9544 48.6162 10.7186 48.7932 10.4237 48.9111C10.1289 49.029 9.83404 49.088 9.53914 49.088C9.24432 49.088 8.89055 49.029 8.6546 48.9111C8.35979 48.7932 8.12394 48.6162 7.888 48.3803C7.65215 48.1445 7.47526 47.9086 7.35733 47.5548C7.23941 47.2599 7.18035 46.9061 7.18035 46.4933C7.18035 46.0805 7.23941 45.7267 7.35733 45.4318C7.47526 45.137 7.65215 44.8422 7.888 44.6062C8.12394 44.3704 8.35979 44.1935 8.6546 44.0756C8.94951 43.9577 9.24432 43.8987 9.53914 43.8987C9.83404 43.8987 10.1878 43.9577 10.4237 44.0756C10.7186 44.1935 10.9544 44.3704 11.1903 44.6062C11.4262 44.8422 11.6031 45.078 11.721 45.4318C11.839 45.7267 11.8979 46.1395 11.8979 46.4933C11.8979 46.9061 11.839 47.2599 11.721 47.5548Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M3.4656 42.0117H1.04785V51.034H3.4656V42.0117Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M2.22657 37.5879C1.99072 37.5879 1.81374 37.6469 1.63685 37.7059C1.45997 37.7649 1.28308 37.8828 1.16515 38.0597C1.04713 38.1776 0.929209 38.3545 0.811284 38.5315C0.752322 38.7084 0.693359 38.9442 0.693359 39.1211C0.693359 39.3571 0.752322 39.5339 0.811284 39.7108C0.870247 39.8877 0.988172 40.0646 1.16515 40.1826C1.28308 40.3005 1.45997 40.4185 1.63685 40.5364C1.81374 40.6543 2.04969 40.6543 2.22657 40.6543C2.63931 40.6543 2.99318 40.4774 3.34696 40.1826C3.64187 39.8877 3.81875 39.5339 3.81875 39.0621C3.81875 38.6494 3.64187 38.2955 3.34696 37.9418C2.99318 37.7649 2.63931 37.5879 2.22657 37.5879Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M69.0404 42.7177C68.7456 42.3639 68.3917 42.128 67.979 41.9511C67.5661 41.7742 67.0355 41.6562 66.5047 41.6562C65.915 41.6562 65.3254 41.7742 64.8536 42.069C64.3819 42.3049 63.969 42.7177 63.7332 43.1305V41.9511H61.3154V50.9734H63.7332V46.5507C63.7332 46.1968 63.7921 45.8431 63.8511 45.4893C63.969 45.1944 64.087 44.8996 64.2638 44.6637C64.4408 44.4278 64.6767 44.2509 64.9125 44.074C65.1485 43.9561 65.4433 43.8382 65.7971 43.8382C66.3278 43.8382 66.7407 44.015 67.0355 44.3099C67.3303 44.6048 67.4482 45.0765 67.4482 45.7251V50.9734H69.866V45.5483C69.866 44.9585 69.807 44.4278 69.6301 43.9561C69.5122 43.4843 69.3353 43.0715 69.0404 42.7177Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M58.9563 43.0126C58.5434 42.5997 58.0128 42.246 57.4231 42.01C56.8333 41.7742 56.1847 41.6562 55.4771 41.6562C54.7695 41.6562 54.1208 41.7742 53.5311 42.01C52.9414 42.246 52.4696 42.5997 51.9978 43.0126C51.5851 43.4253 51.2312 43.9561 50.9954 44.5457C50.7595 45.1354 50.6416 45.7841 50.6416 46.4917C50.6416 47.1994 50.7595 47.8481 50.9954 48.4377C51.2312 49.0274 51.5851 49.5582 51.9978 49.9709C52.4107 50.3838 52.9414 50.7375 53.5311 50.9734C54.1208 51.2093 54.7695 51.3272 55.4771 51.3272C56.1847 51.3272 56.8333 51.2093 57.4231 50.9734C58.0128 50.7375 58.4845 50.3838 58.9563 49.9709C59.369 49.5582 59.7229 49.0274 59.9587 48.4377C60.1947 47.8481 60.3126 47.1994 60.3126 46.4917C60.3126 45.7841 60.1947 45.1354 59.9587 44.5457C59.7229 43.9561 59.369 43.4843 58.9563 43.0126ZM57.7179 47.5532C57.5999 47.8481 57.4231 48.1429 57.1872 48.3787C56.9513 48.6146 56.7154 48.7916 56.4206 48.9095C56.1258 49.0274 55.8309 49.0864 55.5361 49.0864C55.2412 49.0864 54.9463 49.0274 54.6515 48.9095C54.3566 48.7916 54.1208 48.6146 53.8849 48.3787C53.649 48.1429 53.4721 47.907 53.3542 47.5532C53.2362 47.2584 53.1773 46.8455 53.1773 46.4917C53.1773 46.0789 53.2362 45.7251 53.3542 45.4303C53.4721 45.1354 53.649 44.8406 53.8849 44.6048C54.1208 44.3688 54.3566 44.1919 54.6515 44.074C54.9463 43.9561 55.2412 43.8971 55.5361 43.8971C55.8309 43.8971 56.1258 43.9561 56.4206 44.074C56.7154 44.1919 56.9513 44.3688 57.1872 44.6048C57.4231 44.8406 57.5999 45.0765 57.7179 45.4303C57.8359 45.7841 57.8949 46.1379 57.8949 46.4917C57.8949 46.9045 57.8359 47.2584 57.7179 47.5532Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M37.7266 43.0126C37.3138 42.5997 36.8421 42.246 36.3703 42.01C35.8396 41.7742 35.3089 41.6562 34.7192 41.6562C34.0115 41.6562 33.4809 41.7742 33.0091 42.069C32.5373 42.3639 32.1835 42.6587 32.0066 43.0126V41.9511H29.5889V54.9243H32.0066V51.1504V49.853C32.2425 50.2068 32.5963 50.5606 33.0091 50.7965C33.4809 51.0914 34.0705 51.2093 34.7192 51.2093C35.3089 51.2093 35.8396 51.0914 36.3703 50.8555C36.9011 50.6196 37.3728 50.2658 37.7266 49.853C38.1394 49.4402 38.4343 48.9095 38.6701 48.3198C38.906 47.7301 39.0239 47.0815 39.0239 46.3738C39.0239 45.6662 38.906 45.0175 38.6701 44.4278C38.4343 43.9561 38.1394 43.4843 37.7266 43.0126ZM36.4293 47.5532C36.3114 47.8481 36.1345 48.1429 35.8986 48.3787C35.6627 48.6146 35.4268 48.7916 35.132 48.9095C34.8371 49.0274 34.5423 49.0864 34.2475 49.0864C33.9526 49.0864 33.5988 49.0274 33.3628 48.9095C33.068 48.7916 32.8322 48.6146 32.5962 48.3787C32.3604 48.1429 32.1835 47.907 32.0656 47.5532C31.9477 47.2584 31.8887 46.8455 31.8887 46.4917C31.8887 46.0789 31.9477 45.7251 32.0656 45.4303C32.1835 45.1354 32.3604 44.8406 32.5962 44.6048C32.8322 44.3688 33.068 44.1919 33.3628 44.074C33.6578 43.9561 33.9526 43.8971 34.2475 43.8971C34.5423 43.8971 34.8961 43.9561 35.132 44.074C35.4268 44.1919 35.6627 44.3688 35.8986 44.6048C36.1345 44.8406 36.3114 45.0765 36.4293 45.4303C36.5472 45.7841 36.6062 46.0789 36.6062 46.4917C36.6062 46.9045 36.5472 47.1994 36.4293 47.5532Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M48.2822 37.5879C48.0464 37.5879 47.8695 37.6469 47.6926 37.7059C47.5156 37.7649 47.3387 37.8828 47.2208 38.0597C47.1029 38.1776 46.985 38.3545 46.867 38.5315C46.808 38.7084 46.749 38.9442 46.749 39.1211C46.749 39.3571 46.808 39.5339 46.867 39.7108C46.926 39.8877 47.0439 40.0646 47.2208 40.1826C47.3387 40.3005 47.5156 40.4185 47.6926 40.5364C47.8695 40.6543 48.1054 40.6543 48.2822 40.6543C48.6951 40.6543 49.0488 40.4774 49.4027 40.1826C49.6975 39.8877 49.8744 39.5339 49.8744 39.0621C49.8744 38.6494 49.6975 38.2955 49.4027 37.9418C49.1078 37.7649 48.754 37.5879 48.2822 37.5879Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M49.5213 42.0117H47.1035V51.034H49.5213V42.0117Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M44.8028 48.7917C44.6849 48.8507 44.508 48.8507 44.3311 48.8507C44.0362 48.8507 43.7414 48.7328 43.6235 48.5559C43.5055 48.4379 43.4466 48.261 43.3876 48.0841C43.3287 47.9072 43.3287 47.7303 43.3287 47.4944V44.0152H45.5105V41.9512H43.3287V39.1797H40.9109V41.9512H39.2598V44.0152H40.8519V47.9662C40.8519 48.9686 41.1468 49.7942 41.7365 50.3249C41.9723 50.5608 42.2671 50.7377 42.621 50.9146C42.9748 51.0326 43.3876 51.1505 43.8593 51.1505C44.2722 51.1505 44.6259 51.0915 44.9208 51.0326C45.2156 50.9736 45.5694 50.8556 45.8054 50.7377L45.1567 48.6148C45.0388 48.6738 44.9207 48.7328 44.8028 48.7917Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
  </svg>

  <svg
    width="70"
    height="62"
    viewBox="0 0 70 62"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      opacity="0.7"
      d="M42.8638 16.7755L37.8795 13.5564L35.6486 12.1113C34.6929 12.9478 33.7534 13.8025 32.8304 14.6749C30.6207 16.7717 33.2402 18.043 33.2402 18.043C33.2402 18.043 34.8788 19.0286 37.5032 20.861C40.1277 22.6909 38.2568 24.7678 37.9576 25.0322L22.6631 38.3393L24.4979 38.7415C24.4979 38.7415 43.3057 22.7331 43.5069 22.5481C47.4087 18.8771 42.8638 16.7766 42.8638 16.7766V16.7755Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M20.1367 0.707031V39.1917H49.8245V0.707031H20.1367ZM48.6414 38.0285H21.3198V1.87027H43.0686C39.3257 5.05701 25.8448 16.5392 25.6735 16.7043C21.7753 20.3702 26.3153 22.467 26.3153 22.467L27.1346 23.0058L33.5889 27.0865C34.5215 26.2636 35.4387 25.4234 36.3399 24.5663C38.551 22.4782 35.9303 21.202 35.9303 21.202C35.9303 21.202 34.2928 20.2126 31.6684 18.3864C29.0428 16.559 30.9186 14.4821 31.2128 14.2127L45.4025 1.87027H48.6414V38.0285Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
    <path
      opacity="0.7"
      d="M2.69768 55.0139C1.98302 54.6407 1.38495 54.0777 0.969381 53.3868C0.547803 52.6778 0.331422 51.8658 0.344292 51.0411C0.331949 50.2166 0.550967 49.4052 0.976343 48.6989C1.39423 48.0081 1.99347 47.445 2.70897 47.071C3.46984 46.6712 4.31879 46.4684 5.1782 46.4811C5.87165 46.4731 6.55972 46.6024 7.20295 46.8617C7.79671 47.1036 8.32579 47.481 8.748 47.9637L7.66642 48.9651C7.36268 48.6307 6.99079 48.3654 6.57576 48.187C6.15914 48.0073 5.70907 47.918 5.25542 47.9251C4.6757 47.9157 4.10305 48.0533 3.59105 48.3253C3.10713 48.5809 2.70612 48.9651 2.43361 49.435C2.15404 49.9236 2.01162 50.4788 2.02143 51.0418C2.01214 51.6053 2.15446 52.1611 2.43361 52.6507C2.70612 53.1199 3.10787 53.504 3.59169 53.7604C4.10231 54.0308 4.67465 54.1677 5.25479 54.1579C5.7096 54.1651 6.16061 54.075 6.57786 53.8938C6.99301 53.7134 7.36426 53.4457 7.66642 53.1087L8.748 54.122C8.3241 54.6058 7.79238 54.9833 7.19588 55.224C6.55044 55.4828 5.86025 55.6119 5.1649 55.6039C4.30603 55.6166 3.45781 55.4138 2.69768 55.0139ZM10.5226 46.6089H12.1723V52.9036L17.021 46.6089H18.5801V55.488H16.9296V49.1926L12.0817 55.4761H10.5226V46.6089ZM22.9996 55.0139C22.2857 54.6399 21.6881 54.0771 21.272 53.3868C20.8501 52.6779 20.6335 51.8658 20.6462 51.0411C20.6338 50.2166 20.8529 49.4052 21.2782 48.6989C21.697 48.0081 22.2968 47.445 23.013 47.071C23.7739 46.6707 24.6232 46.4679 25.4829 46.4811C26.1757 46.4733 26.863 46.6026 27.5055 46.8617C28.0997 47.1043 28.6293 47.4814 29.0526 47.9637L27.9683 48.9651C27.6652 48.631 27.2941 48.3657 26.8798 48.187C26.4631 48.0073 26.0132 47.918 25.5594 47.9251C24.9799 47.9152 24.4074 48.0529 23.8957 48.3253C23.4131 48.5788 23.0118 48.9632 22.7376 49.4342C22.4588 49.9235 22.3164 50.4787 22.3254 51.0418C22.3163 51.6044 22.4589 52.1598 22.7376 52.6507C23.0119 53.1222 23.4136 53.5068 23.8964 53.7604C24.4081 54.0317 24.9803 54.1685 25.5594 54.1579C26.0138 54.1649 26.4655 54.0743 26.8811 53.8931C27.2957 53.7128 27.6666 53.4452 27.9683 53.1087L29.0526 54.122C28.6276 54.6054 28.0953 54.9828 27.4985 55.224C26.8545 55.4824 26.1642 55.6116 25.4689 55.6039C24.6094 55.6168 23.7604 55.4141 22.9996 55.0139ZM37.9275 48.0002H34.9365V55.4754H33.2735V48.0002H30.2965V46.6096H37.9282L37.9275 48.0002ZM46.4057 54.0968V55.4761H39.639V46.6089H46.2252V47.9994H41.3133V50.2946H45.6711V51.6605H41.3133V54.0968H46.4057ZM56.7006 55.4761L56.6866 49.5936L53.7215 54.4634H52.9756L50.0105 49.6822V55.4761H48.4163V46.6089H49.8062L53.3738 52.4731L56.9063 46.6089H58.273L58.299 55.488L56.7006 55.4761ZM67.1128 53.4247H62.6027L61.7107 55.474H59.9852L64.0458 46.6068H65.6955L69.7702 55.4852H68.0166L67.1128 53.4247ZM66.5594 52.1325L64.857 48.2621L63.168 52.1318L66.5594 52.1325ZM1.84018 60.0297H0.990375L0.795832 60.6786H0.464352L1.27269 58.2066H1.54383L2.35713 60.6786H2.03261L1.84018 60.0297ZM1.0733 59.7629H1.76854L1.42588 58.6406L1.0733 59.7629ZM3.37615 59.5676H3.14437V60.6786H2.82766V58.2066H3.14511V59.2966H3.3368L4.04608 58.2059H4.43938L3.64022 59.4012L4.49698 60.6786H4.11075L3.37615 59.5676ZM4.90295 58.2059H5.22029V60.4118H6.20429V58.2066H6.52026V60.4048H6.75131L6.71902 61.2749H6.43597V60.678H4.90506L4.90295 58.2059ZM8.55831 58.2059H8.87576V60.678H8.55831V58.7727L7.58075 60.6786H7.26119V58.2066H7.58075V60.1105L8.55831 58.2059ZM11.1737 59.6582C11.1926 59.9356 11.1147 60.2109 10.9539 60.4391C10.8792 60.5311 10.7836 60.604 10.6752 60.6516C10.5667 60.6993 10.4484 60.7203 10.3302 60.713C10.2144 60.7179 10.099 60.6963 9.99269 60.65C9.88635 60.6038 9.79192 60.5341 9.71639 60.4462C9.55455 60.2301 9.47268 59.9645 9.48471 59.6947V59.2396C9.47057 58.9615 9.55276 58.6876 9.71639 58.4608C9.79467 58.3739 9.89046 58.3046 9.99744 58.2573C10.1045 58.2101 10.2203 58.1862 10.3373 58.1869C10.454 58.187 10.5696 58.2114 10.6764 58.2586C10.7833 58.3057 10.8792 58.3746 10.9581 58.4608C11.1224 58.6842 11.2038 58.9552 11.1898 59.2305L11.1737 59.6582ZM10.8583 59.2256C10.8728 59.0226 10.8269 58.8197 10.7263 58.6427C10.6794 58.5823 10.6191 58.5336 10.5504 58.5003C10.4816 58.4669 10.406 58.4498 10.3296 58.4503C10.253 58.4505 10.1775 58.4679 10.1086 58.5013C10.0398 58.5348 9.9794 58.5834 9.93203 58.6434C9.83159 58.8169 9.78454 59.0156 9.79794 59.2144V59.6569C9.78464 59.8585 9.83138 60.0596 9.93203 60.2348C9.97518 60.2999 10.0347 60.3524 10.1046 60.3872C10.1745 60.422 10.2523 60.4377 10.3302 60.4328C10.4061 60.4382 10.4823 60.4241 10.5512 60.3918C10.6202 60.3594 10.6797 60.31 10.7242 60.2482C10.8226 60.0782 10.8689 59.883 10.8583 59.6884V59.2256ZM13.4091 60.6786H13.0916V59.5403H12.0797V60.678H11.7622V58.2059H12.0797V59.2692H13.0916V58.2059H13.4091V60.6786ZM15.2624 59.5353H14.3634V60.4118H15.4015V60.6786H14.0488V58.2066H15.3853V58.4721H14.3634V59.2692H15.2555L15.2624 59.5353ZM16.2281 59.7103V60.6786H15.9113V58.2066H16.712C16.8131 58.2011 16.9141 58.2163 17.0091 58.2513C17.1039 58.2863 17.1907 58.3404 17.264 58.4103C17.3909 58.5656 17.4602 58.7599 17.4602 58.9605C17.4602 59.161 17.3909 59.3555 17.264 59.5107C17.1921 59.578 17.1076 59.6303 17.0154 59.6647C16.9232 59.6991 16.8251 59.7148 16.7268 59.7109L16.2281 59.7103ZM16.2281 59.442H16.7127C16.7724 59.4457 16.8323 59.4367 16.8882 59.4155C16.9441 59.3943 16.9949 59.3614 17.0371 59.3191C17.1109 59.2149 17.1504 59.0905 17.1504 58.963C17.1504 58.8354 17.1109 58.711 17.0371 58.6069C16.9979 58.5619 16.9488 58.5264 16.8939 58.503C16.8389 58.4797 16.7794 58.4691 16.7197 58.4721H16.233L16.2281 59.442ZM19.6173 60.6786H19.2999V59.5403H18.2879V60.678H17.9726V58.2059H18.2879V59.2692H19.2999V58.2059H19.6173V60.6786ZM21.4384 60.0297H20.5886L20.3863 60.6786H20.0598L20.871 58.2066H21.142L21.9546 60.6786H21.6308L21.4384 60.0297ZM20.6715 59.7629H21.3667L21.0212 58.6406L20.6715 59.7629ZM23.4996 60.6786V59.7151H23.0642L22.6316 60.6786H22.2931L22.7868 59.6112C22.6569 59.5551 22.5473 59.4604 22.4729 59.3401C22.3993 59.2206 22.365 59.0812 22.3746 58.9412C22.3688 58.8413 22.3835 58.7414 22.4176 58.6475C22.4518 58.5535 22.5048 58.4676 22.5734 58.3948C22.6471 58.3258 22.7343 58.2726 22.8295 58.2385C22.9247 58.2044 23.0258 58.1902 23.1267 58.1967H23.8219V60.6786H23.4996ZM22.7032 58.9511C22.6965 59.0803 22.7367 59.2078 22.8163 59.3099C22.8561 59.3553 22.9054 59.3914 22.9608 59.4155C23.0161 59.4395 23.0762 59.4509 23.1365 59.4489H23.5087V58.4727H23.1386C23.0786 58.4691 23.0185 58.4786 22.9624 58.5006C22.9064 58.5225 22.8558 58.5564 22.8142 58.5999C22.7352 58.6992 22.6957 58.8243 22.7032 58.9511ZM26.4907 58.4538H26.5329C26.686 58.4538 26.8362 58.4988 26.9633 58.5837C27.0975 58.6729 27.2049 58.7951 27.2738 58.939C27.3454 59.0991 27.3825 59.2725 27.3825 59.4479C27.3825 59.6232 27.3454 59.7967 27.2738 59.9567C27.2051 60.1015 27.0986 60.225 26.9654 60.3141C26.839 60.4013 26.6873 60.4476 26.5321 60.4462H26.4907V60.7784H26.1782V60.4462H26.1361C25.9815 60.4474 25.83 60.4029 25.7006 60.3184C25.567 60.229 25.4606 60.1046 25.3931 59.9588C25.3199 59.7988 25.2821 59.6249 25.2821 59.4489C25.2821 59.2729 25.3199 59.0991 25.3931 58.939C25.4647 58.793 25.5756 58.6694 25.7147 58.5816C25.8439 58.4959 25.997 58.4517 26.1522 58.4545H26.1782V58.1034H26.4837L26.4907 58.4538ZM26.1431 58.6996C26.0648 58.6963 25.987 58.7124 25.9165 58.7468C25.8462 58.7811 25.7855 58.8325 25.7399 58.8962C25.6318 59.0577 25.5798 59.2488 25.5924 59.442C25.5812 59.6333 25.6314 59.8232 25.7357 59.9841C25.7818 60.0472 25.8426 60.0982 25.9128 60.1323C25.9832 60.1664 26.0608 60.1829 26.1388 60.18H26.1853V58.7003L26.1431 58.6996ZM26.4907 58.6996V60.1808H26.53C26.6084 60.1839 26.6864 60.1675 26.7567 60.1329C26.8271 60.0983 26.8878 60.0467 26.9331 59.9827C27.0278 59.8186 27.0776 59.6324 27.0776 59.443C27.0776 59.2535 27.0278 59.0674 26.9331 58.9033C26.8898 58.8393 26.831 58.7873 26.7623 58.752C26.6936 58.7166 26.6171 58.6991 26.5398 58.701H26.4907V58.6996ZM29.2058 58.2059H29.5232V60.678H29.2058V58.7727L28.226 60.6786H27.9086V58.2066H28.2254V60.1105L29.2058 58.2059ZM31.8302 60.6786H31.5058V59.5403H30.493V60.678H30.1855V58.2059H30.5001V59.2692H31.5058V58.2059H31.8233L31.8302 60.6786ZM33.6513 60.0297H32.8008L32.6063 60.6786H32.2818L33.0901 58.2066H33.3591L34.1696 60.6786H33.8458L33.6513 60.0297ZM32.8956 59.7629H33.5909L33.2482 58.6406L32.8956 59.7629ZM36.2618 60.6786H35.9443V59.5403H34.9323V60.678H34.6148V58.2059H34.9323V59.2692H35.9443V58.2059H36.2618V60.6786ZM38.4859 59.8907C38.4873 60.1155 38.4051 60.3331 38.2541 60.501C38.1772 60.5747 38.0859 60.6317 37.9856 60.6681C37.8855 60.7045 37.779 60.7196 37.6726 60.7124C37.5569 60.716 37.4419 60.6921 37.3371 60.6427C37.2324 60.5932 37.1409 60.5196 37.0701 60.428C36.9078 60.2066 36.8261 59.9365 36.8383 59.6625V59.2073C36.8243 58.9348 36.9057 58.6652 37.0701 58.4454C37.1445 58.3527 37.2397 58.2789 37.3482 58.2301C37.4566 58.1812 37.5749 58.1588 37.6937 58.1645C37.7976 58.1583 37.9018 58.1744 37.999 58.2114C38.0963 58.2484 38.1847 58.3057 38.2584 58.3794C38.4023 58.5514 38.4788 58.7685 38.4739 58.9918H38.1544C38.157 58.8382 38.1115 58.6877 38.0245 58.5612C37.983 58.5157 37.9315 58.4803 37.8742 58.4578C37.8168 58.4353 37.7551 58.4262 37.6937 58.4313C37.6165 58.4293 37.54 58.4463 37.4709 58.4809C37.4018 58.5154 37.3423 58.5664 37.2976 58.6294C37.1955 58.8052 37.1479 59.0073 37.1606 59.2102V59.6653C37.1487 59.8654 37.1929 60.0642 37.2878 60.2411C37.327 60.3052 37.3829 60.3574 37.4494 60.3922C37.5159 60.4271 37.5906 60.4433 37.6657 60.4391C37.7296 60.4447 37.7942 60.437 37.8551 60.4168C37.9161 60.3965 37.9723 60.3639 38.0202 60.3212C38.1096 60.1938 38.1562 60.0413 38.1537 59.8858L38.4859 59.8907ZM40.649 59.6582C40.6672 59.9356 40.5906 60.2102 40.4312 60.4391C40.3562 60.531 40.2603 60.6038 40.1517 60.6514C40.043 60.699 39.9246 60.7202 39.8061 60.713C39.6903 60.7177 39.5749 60.696 39.4684 60.6498C39.3621 60.6036 39.2675 60.534 39.1917 60.4462C39.0298 60.2301 38.9479 59.9645 38.9599 59.6947V59.2396C38.9466 58.9615 39.0281 58.6876 39.1917 58.4608C39.27 58.3739 39.3658 58.3046 39.4728 58.2573C39.5797 58.2101 39.6956 58.1862 39.8125 58.1869C39.9294 58.1869 40.0449 58.2113 40.1518 58.2585C40.2586 58.3056 40.3545 58.3745 40.4333 58.4608C40.5983 58.6842 40.6799 58.9552 40.6651 59.2305L40.649 59.6582ZM40.3343 59.2256C40.3481 59.0228 40.3029 58.8205 40.2044 58.6427C40.1571 58.5823 40.0967 58.5336 40.0277 58.5003C39.9586 58.4668 39.8828 58.4497 39.8061 58.4503C39.7294 58.4504 39.6537 58.4678 39.5847 58.5012C39.5156 58.5347 39.4549 58.5833 39.4072 58.6434C39.3068 58.8169 39.2605 59.0156 39.2732 59.2144V59.6569C39.26 59.8585 39.3066 60.0596 39.4072 60.2348C39.4504 60.2999 39.5099 60.3525 39.5798 60.3873C39.6497 60.4221 39.7275 60.4378 39.8055 60.4328C39.8815 60.4383 39.9575 60.4242 40.0265 60.3918C40.0955 60.3595 40.155 60.31 40.1994 60.2482C40.2978 60.0782 40.3442 59.883 40.3343 59.6884V59.2256ZM41.2354 60.6786V58.2066H41.9531C42.1407 58.1925 42.326 58.2509 42.47 58.3702C42.5312 58.4362 42.5782 58.5142 42.608 58.5991C42.6378 58.6841 42.6499 58.7741 42.6435 58.8639C42.6456 58.9721 42.615 59.0783 42.5557 59.1687C42.498 59.257 42.4181 59.3284 42.3239 59.3759C42.4379 59.4083 42.5356 59.4823 42.5978 59.5831C42.668 59.699 42.7032 59.8317 42.699 59.9659C42.7095 60.1568 42.6427 60.3444 42.5135 60.4869C42.4434 60.5541 42.36 60.6058 42.2687 60.6389C42.1774 60.6719 42.0802 60.6855 41.9833 60.6786H41.2354ZM41.5521 59.2601H41.958C42.0073 59.2618 42.0562 59.2529 42.1018 59.2341C42.1474 59.2153 42.1883 59.1871 42.2221 59.1512C42.285 59.0665 42.319 58.9638 42.319 58.8583C42.319 58.7528 42.285 58.6501 42.2221 58.5655C42.1849 58.5313 42.1409 58.5053 42.093 58.4893C42.0451 58.4733 41.9943 58.4674 41.944 58.4721H41.5436L41.5521 59.2601ZM41.5521 59.522V60.4118H41.9833C42.0366 60.4145 42.0898 60.4053 42.1392 60.3849C42.1884 60.3645 42.2326 60.3333 42.2684 60.2938C42.3437 60.2025 42.3816 60.086 42.3744 59.968C42.3744 59.6702 42.2453 59.5129 41.9903 59.5129L41.5521 59.522ZM44.4385 60.0297H43.5916L43.3949 60.6786H43.0698L43.8809 58.2066H44.152L44.9625 60.6786H44.6379L44.4385 60.0297ZM43.673 59.7629H44.3675L44.0151 58.6406L43.673 59.7629ZM46.5004 60.6786V59.7151H46.0671L45.6366 60.6786H45.3009L45.7869 59.6112C45.6577 59.5545 45.5488 59.4597 45.4751 59.3394C45.4018 59.2201 45.3674 59.0809 45.3768 58.9412C45.3706 58.8416 45.3849 58.7417 45.4187 58.6477C45.4525 58.5538 45.5051 58.4677 45.5734 58.3948C45.6476 58.3258 45.735 58.2726 45.8304 58.2385C45.9258 58.2045 46.0272 58.1903 46.1282 58.1967H46.8228V60.6786H46.5004ZM45.6949 58.9511C45.6891 59.0802 45.7291 59.2073 45.808 59.3099C45.8476 59.3552 45.8969 59.3913 45.9522 59.4153C46.0074 59.4393 46.0674 59.4508 46.1275 59.4489H46.5004V58.4727H46.1325C46.0721 58.469 46.0116 58.4784 45.9552 58.5004C45.8988 58.5223 45.8478 58.5563 45.8059 58.5999C45.7269 58.6992 45.6875 58.8243 45.6949 58.9511ZM48.9725 59.5676H48.7407V60.6786H48.4163V58.2066H48.7338V59.2966H48.9262L49.6348 58.2059H50.038L49.2387 59.4012L50.0962 60.6786H49.7092L48.9725 59.5676ZM52.1231 59.6582C52.1406 59.936 52.0628 60.2116 51.9025 60.4391C51.8279 60.5309 51.7324 60.6037 51.624 60.6513C51.5158 60.6989 51.3976 60.7201 51.2796 60.713C51.1629 60.718 51.0467 60.6964 50.9397 60.6498C50.8332 60.604 50.7388 60.5344 50.6637 60.4462C50.5026 60.2297 50.4207 59.9644 50.4319 59.6947V59.2396C50.4172 58.9611 50.499 58.6861 50.6637 58.4608C50.7371 58.3678 50.8318 58.2938 50.9399 58.2452C51.0479 58.1964 51.1662 58.1746 51.2844 58.1813C51.3986 58.1767 51.5123 58.1977 51.6173 58.2426C51.7223 58.2876 51.8158 58.3554 51.8913 58.4412C52.0535 58.6645 52.135 58.9356 52.1231 59.2102V59.6582ZM51.8056 59.2256C51.8196 59.0228 51.7745 58.8204 51.6756 58.6427C51.6312 58.5789 51.571 58.5277 51.5008 58.4941C51.4307 58.4607 51.3529 58.446 51.2754 58.4517C51.1986 58.4476 51.1221 58.4632 51.0531 58.4972C50.9841 58.5312 50.925 58.5822 50.8813 58.6455C50.7803 58.819 50.7325 59.0177 50.7444 59.2165V59.659C50.7311 59.8597 50.7781 60.0606 50.8786 60.2369C50.9248 60.2978 50.9844 60.3472 51.0527 60.3815C51.1209 60.4158 51.1961 60.4341 51.2725 60.4349C51.3489 60.4361 51.4246 60.4201 51.494 60.3881C51.5634 60.3561 51.6248 60.3091 51.6735 60.2503C51.7705 60.0796 51.8162 59.8851 51.8056 59.6905V59.2256ZM53.0261 59.7103V60.6786H52.7094V58.2066H53.5128C53.6135 58.201 53.7142 58.2161 53.8087 58.2512C53.9032 58.2862 53.9895 58.3403 54.062 58.4103C54.1887 58.5657 54.258 58.76 54.258 58.9605C54.258 59.161 54.1887 59.3553 54.062 59.5107C53.9902 59.578 53.9057 59.6303 53.8135 59.6647C53.7213 59.6991 53.6232 59.7148 53.5248 59.7109L53.0261 59.7103ZM53.0261 59.442H53.5128C53.5723 59.4458 53.6318 59.4368 53.6874 59.4156C53.7431 59.3944 53.7934 59.3615 53.8352 59.3191C53.9086 59.2148 53.9481 59.0904 53.9481 58.963C53.9481 58.8354 53.9086 58.7111 53.8352 58.6069C53.7952 58.5614 53.7454 58.5256 53.6896 58.5023C53.6337 58.4789 53.5733 58.4685 53.5128 58.4721H53.0261V59.442ZM56.4042 60.6786H56.0868V58.4721H55.1022V60.6786H54.7847V58.2066H56.4064L56.4042 60.6786ZM58.7021 59.6582C58.7197 59.936 58.6419 60.2116 58.4815 60.4391C58.4027 60.5245 58.3071 60.5925 58.2007 60.6391C58.0942 60.6857 57.9794 60.7096 57.8632 60.7096C57.7471 60.7096 57.6322 60.6857 57.5257 60.6391C57.4194 60.5925 57.3237 60.5245 57.2449 60.4391C57.0821 60.2235 57 59.9576 57.0131 59.6878V59.2327C57 58.9545 57.0817 58.6801 57.2449 58.4545C57.3184 58.3615 57.4131 58.2876 57.5212 58.2386C57.6292 58.1898 57.7473 58.1675 57.8656 58.1735C57.983 58.1675 58.0999 58.1886 58.2077 58.2353C58.3154 58.2819 58.4108 58.3529 58.4865 58.4426C58.6488 58.6673 58.7302 58.9377 58.7183 59.2123L58.7021 59.6582ZM58.3776 59.2256C58.3918 59.0228 58.3466 58.8204 58.2478 58.6427C58.2033 58.5789 58.1431 58.5277 58.0728 58.4941C58.0027 58.4607 57.925 58.446 57.8474 58.4517C57.7707 58.4476 57.6941 58.4632 57.6251 58.4972C57.5562 58.5312 57.497 58.5822 57.4534 58.6455C57.3523 58.819 57.3046 59.0177 57.3165 59.2165V59.659C57.3031 59.8597 57.3502 60.0606 57.4513 60.2369C57.4979 60.2975 57.5574 60.3467 57.6255 60.3811C57.6937 60.4155 57.7688 60.434 57.8451 60.4354C57.9214 60.4367 57.9971 60.4209 58.0664 60.3889C58.1357 60.357 58.197 60.3098 58.2456 60.2509C58.344 60.0803 58.3895 59.8858 58.3776 59.6905V59.2256ZM59.6052 59.7103V60.6786H59.2906V58.2066H60.092C60.1925 58.201 60.2933 58.2161 60.3878 58.2512C60.4822 58.2862 60.5685 58.3403 60.6411 58.4103C60.7693 58.5644 60.8404 58.758 60.8424 58.9585C60.8445 59.159 60.7773 59.354 60.6524 59.5107C60.5802 59.5783 60.4954 59.6307 60.4028 59.665C60.3102 59.6994 60.2117 59.715 60.113 59.7109L59.6052 59.7103ZM59.6052 59.442H60.092C60.1513 59.4457 60.2107 59.4367 60.2662 59.4155C60.3217 59.3943 60.3719 59.3614 60.4136 59.3191C60.4939 59.2189 60.5336 59.0923 60.5253 58.9644C60.5322 58.8351 60.4917 58.7078 60.4115 58.6062C60.3715 58.5616 60.3221 58.5265 60.2668 58.5034C60.2115 58.4803 60.1518 58.4699 60.092 58.4727H59.6052V59.442ZM62.5219 60.0297H61.6721L61.4775 60.6786H61.1573L61.9664 58.2066H62.2396L63.05 60.6786H62.7256L62.5219 60.0297ZM61.755 59.7629H62.4502L62.1076 58.6406L61.755 59.7629ZM63.5015 58.2059H63.8211V60.4118H64.8036V58.2066H65.119V60.4048H65.35L65.3268 61.2749H65.0445V60.678H63.5136L63.5015 58.2059ZM67.1599 58.2059H67.4745V60.678H67.1599V58.7727L66.1795 60.6786H65.8627V58.2066H66.1795V60.1105L67.1599 58.2059ZM69.2352 60.6786V59.7151H68.8018L68.3692 60.6786H68.0307L68.5216 59.6112C68.3929 59.5572 68.2842 59.4647 68.21 59.3466C68.1358 59.2284 68.1 59.0903 68.1073 58.9511C68.1019 58.8513 68.1168 58.7515 68.1509 58.6576C68.1851 58.5637 68.2379 58.4777 68.306 58.4047C68.3798 58.3354 68.4671 58.282 68.5624 58.2477C68.6578 58.2135 68.759 58.1993 68.8601 58.2059H69.5546V60.678L69.2352 60.6786ZM68.4268 58.9511C68.421 59.0807 68.4621 59.2081 68.5427 59.3099C68.5822 59.3553 68.6315 59.3914 68.6868 59.4155C68.7421 59.4395 68.802 59.4509 68.8622 59.4489H69.2352V58.4727H68.8643C68.804 58.4692 68.7435 58.4787 68.6872 58.5007C68.6308 58.5226 68.5798 58.5565 68.5377 58.5999C68.4588 58.6992 68.4192 58.8243 68.4268 58.9511Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
  </svg>

  <svg
    width="69"
    height="47"
    viewBox="0 0 69 47"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      opacity="0.7"
      fillRule="evenodd"
      clipRule="evenodd"
      d="M51.3335 8.93677V6.24107L52.9971 3.65257L54.7367 0.949219V3.65257V6.34826V9.04396V11.7473V14.443V17.1464V19.842V22.5455V25.2412V27.9445V30.6402V33.3436V36.0393V38.7426V41.4383L52.9971 44.1417L51.3335 46.7302V44.0268V41.3311V38.6278V35.9321V33.2287V30.533V27.8373V25.1339V22.4382V19.7349V17.0392V14.3358V11.6401V8.93677ZM56.4836 6.34061V9.04396V11.7397V14.443V17.1387V19.842V22.5378V25.2412V27.9369V30.6326V33.3359V36.0393V38.735V41.4383V44.134V46.8297L58.2915 44.0268L59.9553 41.4383V38.735V36.0393V33.3359V30.6402V27.9369V25.2412V22.5378V19.842V17.1464V14.443V11.7473V9.04396V6.34826V3.64491V0.949219L58.2915 3.53772L56.4836 6.34061ZM66.9142 14.4427V11.7394L68.6614 9.02835V11.7317V14.4274V17.1307V19.8264L66.9142 22.5374V19.8341V17.1384V14.4427ZM61.7027 22.5375L63.4423 19.8342V17.1308L65.2504 14.328V17.0237V19.7193V22.4227V25.1184V27.8217L63.4423 30.6324L61.7027 33.3357V30.6324V27.9367V25.2332V22.5375ZM46.0612 11.7782V14.4816V17.1774V19.8807V22.5764V25.2798V27.9755V30.6712L49.5404 25.2645V22.5688V19.8654V17.1697V14.4663V11.7706V9.07488V6.37153L47.8008 9.07488L46.0612 11.7782ZM42.5592 14.4583V17.154V19.8497L44.3748 17.0468V19.7425V22.4459V25.1416V27.8373V30.5406V33.2363L42.5592 36.0469L40.8196 38.7503V36.0546V33.3512V30.6554V27.9521V25.2564V22.5607V19.8574V17.1617L42.5592 14.4583ZM35.6009 6.37133V9.06703V11.7627V14.4661V17.1618V19.8651V22.5608V25.2642V27.9599V30.6632V33.3589V36.0546V38.7579V41.4536V44.1571V46.8528L37.4089 44.0421L39.0725 41.4613V38.7579V36.0622V33.3666V30.6632V27.9675V25.2642V22.5685V19.8651V17.1694V14.4661V11.7704V9.07468V6.37133V3.66788V0.972188L37.4089 3.56069L35.6009 6.37133ZM30.4504 8.95973V6.26404L32.114 3.67554L33.8613 0.972188V3.67554V6.37133V9.07468V11.7704V14.4737V17.1694V19.8651V22.5685V25.2642V27.9675V30.6632V33.3666V36.0622V38.7579V41.4613L32.114 44.1647L30.4504 46.7531V44.0498V41.3541V38.6507V35.9551V33.2517V30.556V27.8603V25.157V22.4613V19.7579V17.0622V14.3588V11.6631V8.95973ZM25.1555 14.4815V17.1773V19.8806V22.5763V25.2797V27.9754V30.6787V33.3744V36.0778L26.9027 33.3667V30.6711L28.6423 27.9677V25.2644V22.5687V19.8653V17.1696V14.4738V11.7705V9.07478L26.9027 11.7781L25.1555 14.4815ZM21.6836 14.4738V17.1773V19.873L23.4916 17.0623V19.7657V22.4614V25.1648V27.8605V30.5639V33.2596L21.6836 36.0701L19.9364 38.7734V36.0778V33.3744V30.6787V27.9754V25.2797V22.5763V19.8806V17.1773V14.4815V11.7858L21.6836 9.07478V11.7781V14.4738ZM14.7254 6.38664V9.08234V11.7857V14.4814V17.1847V19.8804V22.5838V25.2795V27.9828V30.6786V33.382V36.0777V38.781V41.4767V44.1724V46.8758L16.5334 44.0652L18.197 41.4767V38.781V36.0777V33.382V30.6786V27.9828V25.2871V22.5838V19.8881V17.1847V14.489V11.7933V9.09V6.3943V3.69095V0.995256L16.5334 3.5761L14.7254 6.38664ZM9.56723 8.99046V6.28711L11.2384 3.69861L12.978 0.995256V3.69861V6.3943V9.09V11.7933V14.489V17.1847V19.8881V22.5838V25.2871V27.9828V30.6862V33.382V36.0853V38.781V41.4844L11.2384 44.1877L9.56723 46.7762V44.0729V41.3772V38.6737V35.978V33.2747V30.579V27.8756V25.1799V22.4842V19.7809V17.0852V14.3895V11.6862V8.99046ZM6.0196 25.295L4.27234 27.9983V30.7017V33.3974V36.1007L6.0196 33.3974L7.7972 30.6328V27.9371V25.2337V22.538V19.8347L6.0196 22.5993V25.295ZM0.800781 25.295V22.5993V19.9036L2.60881 17.0931V19.7887V22.4921L0.800781 25.295Z"
      fill="#0F1C2C"
      fillOpacity="0.5"></path>
  </svg>
</div>

<style lang="scss">
  .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    opacity: 0.5;

    @media (min-width: 1200px) {
      justify-content: space-between;
      flex-wrap: unset;
      gap: unset;
    }
  }
</style>
