---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header';
import Courses from '../components/courses';
import Enroll from '../components/enroll';
import School from '../components/school';
import Teachers from '../components/teachers';
import Reviews from '../components/reviews';
import Faq from '../components/faq';
import Footer from '../components/footer';
---

<Layout title="Мини-курсы по программированию для детей 8-17 лет">
  <Header />
  <div class="content">
    <Courses />
    <Enroll />
    <School />
    <Teachers client:only="react" />
    <Reviews client:only="react" />
    <Enroll isLight />
    <Faq client:only="react" />
  </div>
  <Footer />
</Layout>

<!-- Yandex.Metrika counter -->
<script>
  (function (m, e, t, r, i, k, a) {
    m[i] =
      m[i] ||
      function () {
        (m[i].a = m[i].a || []).push(arguments);
      };
    m[i].l = 1 * new Date();
    (k = e.createElement(t)),
      (a = e.getElementsByTagName(t)[0]),
      (k.async = 1),
      (k.src = r),
      a.parentNode.insertBefore(k, a);
  })(window, document, 'script', 'https://mc.yandex.ru/metrika/tag.js', 'ym');

  ym(93302549, 'init', {
    clickmap: true,
    trackLinks: true,
    accurateTrackBounce: true,
    webvisor: true,
  });
</script>
<!-- /Yandex.Metrika counter -->

<style lang="scss">
  .content {
    @media (min-width: 1200px) {
      width: 1160px;
      margin: 0 auto;
    }
  }
</style>
