---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header';
import Courses from '../components/courses';
import Enroll from '../components/enroll';
import School from '../components/school';
import Teachers from '../components/teachers';
import Reviews from '../components/reviews';
import Faq from '../components/faq';
import Footer from '../components/footer';
---

<Layout title="Мини-курсы по программированию для детей 8-17 лет">
  <Header />
  <div class="content">
    <Courses />
    <Enroll />
    <School />
    <Teachers client:only="react" />
    <Reviews client:only="react" />
    <Enroll isLight />
    <Faq client:only="react" />
  </div>
  <Footer />
</Layout>

<style>
  .content {
    @media (min-width: 1200px) {
      width: 1160px;
      margin: 0 auto;
    }
  }
</style>
