---
import Mini from './mini';
import About from './about';
import ProjectAndCertificates from './projectAndCertificates';
import Learn from './learn';
---

<div>
  <Mini />
  <About />
  <div class="project-and-certificates">
    <ProjectAndCertificates client:only="react" />
  </div>
  <Learn />
</div>

<style lang="scss">
  .project-and-certificates {
    height: 772px;
  }
</style>
